*{
  box-sizing: border-box;
  
}

body{
  background-color: #23242C !important;
  /* background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%); */
}

.App{
  width: 310px;
  margin: 20px auto;
  background-color: black;
}

/* ----------------------------------------Header -------------------------------------------- */

img{
  margin-left: 30px;
}

.name{
  text-align: center;
  color: white;
  margin: 0px;
}

.role{
  text-align: center;
  color: #F3BF99;
}

.place{
  color: white;
  text-align: center;
  font-size: 11px;
}

.profiles{
  display: flex;
  justify-content: space-evenly;

}

/* ----------------Body -------------------- */

.bodyContent{

  margin : 28px 30px;
}

.bodyheadings{
  color: white;
}

.bodypara{
  color: #DCDCDC;
  font-size: 12px;

}

/* ----------------Footer --------------------- */

.footerlinks{
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  
  padding: 8px;
  background-color: #161619;
}

.footerlinks > a{
  color: #918E9B;
}
